unpackaged/main/default/flows/ScreenFlowBeServe.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>beServeInformationRequest</name>
        <label>beServeInformationRequest</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <actionName>BeServeHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Screen_Output</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>queryTyp</name>
            <value>
                <stringValue>information</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>IFBIPIDNotNull</name>
        <label>IFBIPIDNotNull</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Screen_NotBipidId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>IFBIPIDNotNull_TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>record.beServe__BIPID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>beServeInformationRequest</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <interviewLabel>ScreenFlowBeServe {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ScreenFlowBeServe</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Screen_NotBipidId</name>
        <label>Screen_NotBipidId</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Output_NoBipidId</name>
            <fieldText>&lt;p&gt;Es ist keine BipidId eingetragen. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Output</name>
        <label>Screen_Output</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>OutputText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;status: &lt;/b&gt;{!beServeInformationRequest.status}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;bipid: {!beServeInformationRequest.bipid}&lt;/p&gt;&lt;p&gt;crf: {!beServeInformationRequest.crf}&lt;/p&gt;&lt;p&gt;zcrf: {!beServeInformationRequest.zcrf}&lt;/p&gt;&lt;p&gt;email: {!beServeInformationRequest.email}&lt;/p&gt;&lt;p&gt;firmenName_gesamt: {!beServeInformationRequest.firmenName_gesamt}&lt;/p&gt;&lt;p&gt;firmenName_zeile1: {!beServeInformationRequest.firmenName_zeile1}&lt;/p&gt;&lt;p&gt;firmenName_zeile2: {!beServeInformationRequest.firmenName_zeile2}&lt;/p&gt;&lt;p&gt;firmenName_zeile3: {!beServeInformationRequest.firmenName_zeile3}&lt;/p&gt;&lt;p&gt;gruendungs_datum: {!beServeInformationRequest.gruendungs_datum}&lt;/p&gt;&lt;p&gt;strasse_gesamt: {!beServeInformationRequest.strasse_gesamt}&lt;/p&gt;&lt;p&gt;strasse: {!beServeInformationRequest.strasse}&lt;/p&gt;&lt;p&gt;hausNr: {!beServeInformationRequest.hausNr}&lt;/p&gt;&lt;p&gt;hausNrZus: {!beServeInformationRequest.hausNrZus}&lt;/p&gt;&lt;p&gt;lkz: {!beServeInformationRequest.lkz}&lt;/p&gt;&lt;p&gt;ort: {!beServeInformationRequest.ort}&lt;/p&gt;&lt;p&gt;plz: {!beServeInformationRequest.plz}&lt;/p&gt;&lt;p&gt;statusId: {!beServeInformationRequest.status_id}&lt;/p&gt;&lt;p&gt;statusId_name: {!beServeInformationRequest.status_id_name}&lt;/p&gt;&lt;p&gt;steuerNummer: {!beServeInformationRequest.steuerNummer}&lt;/p&gt;&lt;p&gt;umsatzSteuerId: {!beServeInformationRequest.umsatzSteuer_id}&lt;/p&gt;&lt;p&gt;TelefonVorwahl: {!beServeInformationRequest.telefon_vorwahl}&lt;/p&gt;&lt;p&gt;TelefonRufnummer: {!beServeInformationRequest.telefon_rufnummer}&lt;/p&gt;&lt;p&gt;URL: {!beServeInformationRequest.url}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IFBIPIDNotNull</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
